 body {
 	display: flex;
 	justify-content: center;
 	align-items: center;
 	height: 100vh;
 	background-image: url("../image/register.png");
 }

 .whole_page {
 	background-color: rgb(183, 183, 245);
 	padding: 40px;
 	border-radius: 12px;
 	box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
 	width: 400px;
 }

 h2 {
 	text-align: center;
 }

 .form_input {
 	display: block;
 	width: 70%;
 	padding: 12px;
 	margin: 20px auto;
 	border: 1px solid #ccc;
 	border-radius: 8px;
 	text-align: center;
 	background-color: black;
 	color: white;
 }

 button {
 	display: block;
 	width: 70%;
 	padding: 12px;
 	background-color: black;
 	color: white;
 	font-size: 16px;
 	border: none;
 	border-radius: 8px;
 	cursor: pointer;
 	margin: 20px auto;
 }